*{
    margin:0px;
    padding:0px;
    
.m_header{
    display:flex;
    justify-content: space-between;
    text-align:center;
    margin:0 200px;
}
.main_title{
    font-size:45px;
    color:black;
}
.m_header h1{
    text-align:center;
}
.m_header ul{
    display:flex;
}
.m_header li{
    margin-left:43px;
    list-style:none;
    font-size:20px;
   
}
.logo_color{
    color:chocolate;
}
li a{
    text-decoration: none;
}
.btn_primary{
    font-size:20px;
    color:white;
    background-color: chocolate;
   
    margin:5px;
    border:0px;
    font-weight:Bold;
    border-radius:5px;
}
header{
    background-color: rgb(243,221,192);
}